table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: auto;
  margin: 0 auto;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  white-space: nowrap;
  width: 1px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

